h1 {
  margin-bottom: 10px;
}

ion-img {
  width: 100px;
  height: auto;
}

ion-col {
  padding: 1rem
}

.custom-container {
  max-width: 1200px;
  margin: 0 auto;
}

.normal-type {
  background-color: #A8A878;
}

.fire-type {
  background-color: #F08030;
}

.water-type {
  background-color: #6890F0;
}

.electric-type {
  background-color: #F8D030;
}

.grass-type {
  background-color: #78C850;
}

.ice-type {
  background-color: #98D8D8;
}

.fighting-type {
  background-color: #C03028;
}

.poison-type {
  background-color: #A040A0;
}

.ground-type {
  background-color: #E0C068;
}

.flying-type {
  background-color: #A890F0;
}

.psychic-type {
  background-color: #F85888;
}

.bug-type {
  background-color: #A8B820;
}

.rock-type {
  background-color: #B8A038;
}

.ghost-type {
  background-color: #705898;
}

.dragon-type {
  background-color: #7038F8;
}

.dark-type {
  background-color: #705848;
}

.steel-type {
  background-color: #B8B8D0;
}

.fairy-type {
  background-color: #EE99AC;
}

