<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-img class="pokeapp-logo" src="../assets/images/pokeapp-logo.png"></ion-img>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item (click)="redirectToPokedex()">
            <ion-label>Pokedex</ion-label>
          </ion-item>
          <ion-item (click)="redirectToFavoritePokemons()">
            <ion-label>Meus favoritos</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content" main>
    <ion-header>
      <div class="navbar-container">
        <ion-menu-button></ion-menu-button>
        <ion-img class="pokeapp-logo" src="../assets/images/pokeapp-logo.png"></ion-img>
        <!--<div class="button-search">Barra de pesquisa</div>-->
      </div>
    </ion-header>
    <ion-content>
      <router-outlet></router-outlet>
    </ion-content>
    <ion-footer>
    </ion-footer>
  </div>
</ion-app>
