.card-details{
  max-width: 1200px;
  margin: 0 auto;
}

.card-content{
  text-transform: capitalize;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.pokemon-card-img{
  width:500px;
}
ion-row.md{
  margin: 0;
  padding: 0;
}

ion-col{
  margin: 0;
  padding: 0;
}
