.card-details {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  color: #fff;
}

h1{
  color: #dddddd;
  font-weight: bold;
}

p{
  font-size: 22px;
  font-style: italic;
}
p.pokemon-description{
  text-align: center;
  font-size: 15px;
}
ion-card-header{
  color: #fff;
}

ion-row.md{
  margin: 0;
  padding: 0;
}

ion-col{
  margin: 0;
  padding: 0;
}

.type-image{
  margin: 5px;
}
