<ion-content id="pokemon-details-page">
  <div class="custom-container">
    <ion-grid>
      <ion-card class="card-details"*ngIf="pokemon" [ngClass]="pokemon.types[0].type.name + '-type'">
        <ion-card-header>
          <ion-row style="justify-content: space-between;">
             <ion-card-title class="card-title" [ngClass]="pokemon.types[0].type.name + '-title-type'">{{ pokemon.name }}</ion-card-title>
             <!--
             <ion-button class="fav-button" fill="clear" (click)="toggleFavorite(pokemon);" title="{{ isFavorite(pokemon) ? 'Remover dos favoritos' : 'Adicionar aos favoritos' }}">
              <ion-icon slot="icon-only" [name]="isFavorite(pokemon) ? 'star' : 'star-outline'" [ngClass]="{'favorite': isFavorite(pokemon), 'star-icon': true}"></ion-icon>
            </ion-button>
            -->
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col [size]="isDesktop ? 'auto' : '12'">
              <ion-img [src]="pokemon.sprites.other['official-artwork'].front_default"></ion-img>
              <ion-row>
                <ion-col>
                  <img class="sprites-img" [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" style="height: 100%;">
                </ion-col>
                <ion-col>
                  <img class="sprites-img" [src]="pokemon.sprites.back_default" alt="{{ pokemon.name }}" style="height: 100%;">
                </ion-col>
                <ion-col>
                  <img class="sprites-img" [src]="pokemon.sprites.front_shiny" alt="{{ pokemon.name }}" style="height: 100%;">
                </ion-col>
                <ion-col>
                  <img class="sprites-img" [src]="pokemon.sprites.back_shiny" alt="{{ pokemon.name }}" style="height: 100%;">
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col>
              <h1>Attributes:</h1>
              <p *ngFor="let stat of pokemon.stats">
                {{ stat.stat.name }}: {{ stat.base_stat }}
              </p>
              <br>
              <h1>Other informations:</h1>
              <p>Height: {{pokemon.height}}<br></p>
              <p>Weight: {{pokemon.weight}}<br></p>
              <br>
              <h1>Types:</h1>
              <ion-col *ngFor="let typeId of typeIds">
                <img class="type-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-viii/legends-arceus/{{ typeId }}.png">
              </ion-col>
            </ion-col>
          </ion-row>
          <p class="pokemon-description">
            "{{ pokemon.description }}"
          </p>
        </ion-card-content>
      </ion-card>
    </ion-grid>
    <div style="display: flex; justify-content: center;">
      <ion-button class="button-voltar-a-pokedex" (click)="redirectToPokedex()">Voltar à Pokédex</ion-button>
    </div>
  </div>
</ion-content>
